.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.line {
    width: 100%;
    display: flex;
}

.chevron {
    transition: transform 0.3s ease;
}

.expanded {
    transform: rotate(-180deg);
}

.truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}