<ion-grid>
  @if(onFilerUsers().length){
  <ion-row class="table-border-bottom light">
    <ion-col class="ion-text-bold"> First name </ion-col>
    <ion-col class="ion-text-bold"> Last name </ion-col>
    <ion-col class="ion-text-bold"> Age </ion-col>
    <ion-col size="2"> </ion-col>
  </ion-row>

  <ion-row class="table-border-bottom" *ngFor="let item of onFilerUsers()">
    <app-item class="line" [item]="item" [selected]="selected" (selectedItemId)="onSelected($event)"></app-item>
    <app-expand *ngIf="selected === item.login.uuid" class="line" [item]="item"></app-expand>
  </ion-row>
  }
  @else {
  <ion-row>
    <ion-col>
      <ion-text>Data not found</ion-text>
    </ion-col>
  </ion-row>
  }

</ion-grid>