<ion-content class="ion-padding" [fullscreen]="true">

    <form class="wrapper-form" [formGroup]="formData">

      <ion-input color="dark" label="User Name" formControlName="name" label-placement="floating"
        fill="solid"></ion-input>

      <ion-input color="dark" label="User email" formControlName="email" label-placement="floating"
        fill="solid"></ion-input>

      <ion-input color="dark" label="User password" formControlName="password" label-placement="floating"
        fill="solid"></ion-input>

      <ion-button class="ion-margin" color="success" shape="round">Submit</ion-button>

    </form>

</ion-content>