<ion-content class="ion-padding" [fullscreen]="true">
  <form (ngSubmit)="onSubmit()" class="wrapper-form">

    <ion-input color="dark" label="First name" label-placement="floating" fill="solid" type="text" name="firstName"
      [(ngModel)]="formValue().name.first" ngDefaultControl />

    <ion-input color="dark" label="Last name" label-placement="floating" fill="solid" type="text" name="lastName"
      [(ngModel)]="formValue().name.last" ngDefaultControl />

    <ion-input color="dark" label="Email" label-placement="floating" fill="solid" type="text" name="email"
      [(ngModel)]="formValue().email" ngDefaultControl />

    <ion-input color="dark" label="Age" label-placement="floating" fill="solid" type="text" name="age"
      [(ngModel)]="formValue().registered.age" ngDefaultControl />

    <ion-input color="dark" label="Gender" label-placement="floating" fill="solid" type="text" name="gender"
      [(ngModel)]="formValue().gender" ngDefaultControl />

    <ion-input color="dark" label="Phone" label-placement="floating" fill="solid" type="text" name="phone"
      [(ngModel)]="formValue().phone" ngDefaultControl />

    <ion-button type="submit" class="ion-margin" color="success" shape="round" ngDefaultControl>Submit</ion-button>

  </form>
</ion-content>